.small{
    display: none;
}

@media screen and (max-width: 700px) {

    tbody{
        background-color: rgb(252, 252, 252);
        display: block;
        margin-bottom: 5px;
    }

.td-image{
 width: 50%;

}
.small{
    display: inline-block;
    margin-right: 5px;
    font-size: 15px;
}

.td-image div{
    width: 100% !important;
}

    .td-100{
        display: block;
        width: 100%;
        padding: 0%;
        margin: 0%;
    }

}